version: '3.11'

services:
  app:
    container_name: app
    image: francescoxx/flask_live_app:1.0.0
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5003:5003"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@postgresql:5432/postgres
      - MONGO_CLIENT=mongodb://mongo_primary:27017/products
      - MONGO_COLLECTION=products
    depends_on:
      - mongo_primary
      - mongo_secondary1
      - mongo_secondary2
      - mongo_secondary3
      - postgresql


  mongo_primary:
    image: mongo:latest
    command: ["mongod", "--bind_ip_all", "--dbpath=/data/db", "--oplogSize=100"]
    ports:
      - "27017:27017"
    volumes:
      - mongo_primary_data:/data/db

  mongo_secondary1:
    image: mongo:latest
    command: ["mongod", "--bind_ip_all", "--dbpath=/data/db", "--oplogSize=100"]
    ports:
      - "27018:27017"
    volumes:
      - mongo_secondary1_data:/data/db

  mongo_secondary2:
    image: mongo:latest
    command: ["mongod", "--bind_ip_all", "--dbpath=/data/db", "--oplogSize=100"]
    ports:
      - "27019:27017"
    volumes:
      - mongo_secondary2_data:/data/db

  mongo_secondary3:
    image: mongo:latest
    command: ["mongod", "--bind_ip_all", "--dbpath=/data/db", "--oplogSize=100"]
    ports:
      - "27020:27017"
    volumes:
      - mongo_secondary3_data:/data/db

  postgresql:  # Change from sql_server to postgresql
    container_name: postgresql
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432" 
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:latest
    ports:
      - "6379:6379"

volumes:
  pgdata: {}
  mongo_primary_data:
  mongo_secondary1_data:
  mongo_secondary2_data:
  mongo_secondary3_data:
